<html>
<body>
    <h1>Comments</h1>
    <input id="getComments" type="button" value="Show" onclick="getComments()" />
    <div id="commentList"></div>
    <br>Author:<br><input id="textAuthor" type="text" />
    <br>Comment:<br><textarea id="textText" rows="4" cols="37"></textarea>
    <br><input id="btnSubmit" type="button" value="Submit" onclick="submitComment()"/>
    <script>
        var commentList = document.getElementById("commentList");
        var textAuthor = document.getElementById("textAuthor");
        var textText = document.getElementById("textText");

        function getComments() {
            console.log("getComments()");
            var xhr = new XMLHttpRequest();
            xhr.open("GET", "../api/comment");
            xhr.onload = () => showComments(xhr.responseText);
            xhr.send();
        }

        function showComments(commentsText) {
            console.log("showComments()");
            var comments = JSON.parse(commentsText);
            var htmlCode = "";
            for (i in comments) {
                htmlCode += "<hr><h3>" + comments[i].Author + "[#" + comments[i].ID + "]:</h3><p><big>" + comments[i].Text + '</big></p><input id="delete' + comments[i].ID + '" type="button" value="Delete" onclick="deleteComment(' + comments[i].ID + ')"/>';
            }
            commentList.innerHTML = htmlCode;
        }

        function submitComment() {
            console.log("submitComments()");
            var data = '{ "Author": ' + '"' + textAuthor.value + '", "Text": "' + textText.value + '" }';
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "../api/comment");
            xhr.setRequestHeader("Content-Type", "application/json");
            xhr.onload = () => getComments();
            xhr.send(data);
        }

        function deleteComment(i) {
            console.log("deleteComments()");
            var xhr = new XMLHttpRequest();
            xhr.open("DELETE", "../api/comment/" + i);
            xhr.onload = () => getComments();
            xhr.send();
        }
    </script>
</body>
</html>